<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>FOOGRA - My Basket</title>

    <th:block th:insert="fragments/fragmentUser::headerImport"></th:block>

</head>

<body class="fixed-nav sticky-footer" id="page-top">
<!-- Navigation-->
<th:block th:insert="fragments/fragmentUser::navigation"></th:block>
<!-- /Navigation-->

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">

        </ol>

        <!-- Example DataTables Card-->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i>Basket
            </div>
            <div style="height: 300px; text-align: center" th:if="${baskets.content.isEmpty()}"><h6>You don't have any products in basket, please add product</h6></div>
            <div class="card-body" th:if="${!baskets.content.isEmpty()}">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div th:each="basket: ${baskets}">
                            <div>
                                <tr>
                                    <td th:text="${basket.productOverview.name}"></td>
                                    <td th:text="${basket.quantity}"></td>
                                    <td th:text="${basket.quantity*basket.productOverview.price}"></td>
                                    <td><a th:href="@{'/baskets/delete/'+ ${basket.productOverview.id}}">Delete the item</a>
                                    </td>
                                </tr>
                            </div>
                        </div>
                        </tbody>
                    </table>
                    <a class="btn_1 full-width mb_5" href="/orders/add">Order Now</a>

                    <table class="pagination-fg" th:if="${baskets.size}>0">
                        <tr th:if="${baskets.totalPages>0}">
                        <th  th:each="pageNumber : ${pageNumbers}" class="page-item">
                            <a class="active" th:href="@{/baskets(size=${baskets.size}, page=${pageNumber})}"
                               th:text="${pageNumber}"
                               th:class="${pageNumber==baskets.number + 1} ? active"></a>
                        </th>
                       </tr>
                    </table>

                    <!-- /pagination-->
                </div>
            </div>
        </div>
        <!-- /tables-->
    </div>
    <!-- /container-fluid-->
</div>
<!-- /container-wrapper-->

<th:block th:insert="fragments/fragmentUser::footer"></th:block>
<!-- Scroll to Top Button-->
<th:block th:insert="fragments/fragmentUser::scroll"></th:block>
<!-- Logout Modal-->
<th:block th:insert="fragments/fragmentUser::logoutModal"></th:block>

<th:block th:insert="fragments/fragmentUser::scripts"></th:block>

</body>
</html>