<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org/">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Restaurant Owner Page</title>-->
<!--</head>-->
<!--<body>-->


<!--<span th:if="${currentUser != null}" th:text="Welcome + ' ' + ${currentUser.name}"></span><br>-->
<!--<a th:if="${currentUser != null && currentUser.role.name == 'MANAGER'}" href="/manager">Admin Panel</a>-->
<!--<a th:if="${currentUser != null && currentUser.role.name == 'CUSTOMER'}" href="/myRestaurants">My Rstaurants</a>-->


<!--<th:block th:if="${currentUser == null}">-->
<!--    <a href="/users/add">Register</a><br>-->
<!--    <a href="/loginPage">Login</a><br><br>-->
<!--</th:block>-->

<!--<th:block th:if="${currentUser != null}">-->
<!--    <a href="/logout"> Sign Out</a>-->
<!--</th:block>-->


<!--<h5>Edit Information About Restaurant:</h5>-->
<!--<form th:action="@{'/restaurants/edit/' + ${restaurantId}}" method="post">-->

<!--        <input type="text" name="name" placeholder="name">-->
<!--        <input type="text" name="address" placeholder="address">-->
<!--        <input type="email" name="email" placeholder="email">-->
<!--        <input type="text" name="phone" placeholder="phone">-->
<!--        <input type="number" name="deliveryPrice" placeholder="delivery price">-->
<!--        <h3>Please select the category</h3>-->
<!--        <select name="restaurantCategory">-->
<!--            <option th:each="category:${categories}" th:value="${category.id}" th:text="${category.name}"></option>-->
<!--        </select><br>-->
<!--        &lt;!&ndash;                <input type="file" name="restaurantImage" multiple><br th:if="${errorMessageFile != null}">&ndash;&gt;-->
<!--        &lt;!&ndash;                <span style="color: red" th:if="${errorMessageFile != null}" th:text="${errorMessageFile}"></span><br&ndash;&gt;-->
<!--        &lt;!&ndash;                    th:if="${errorMessageFile != null}">&ndash;&gt;-->

<!--    <input type="submit" value="Update">-->
<!--</form>-->
<!--<br th:if="${errorMessageEdit!=null}">-->
<!--<span style="color: red" th:if="${errorMessageEdit!=null}" th:text="${errorMessageEdit}"></span><br>-->


<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>FOOGRA - Admin dashboard</title>

    <th:block th:insert="fragments/fragmentUser::headerImport"></th:block>

</head>

<body class="fixed-nav sticky-footer" id="page-top">
<!-- Navigation-->
<th:block th:insert="fragments/fragmentUser::navigation"></th:block>
<!-- /Navigation-->

<div class="content-wrapper">
    <form th:action="@{'/restaurants/edit/' + ${restaurantId}}" method="post">
        <div class="container-fluid">
            <!-- Breadcrumbs-->

            <!-- /cards -->

            <div class="box_general padding_bottom">
                <div class="header_box version_2">
                </div>
                <div>

                    <div id="message-register"></div>
                    <br th:if="${errorMessageEdit!=null}">
                    <span style="color: red" th:if="${errorMessageEdit!=null}" th:text="${errorMessageEdit}"></span><br>
                    <!-- /row -->
                    <h5>Edit Information About Restaurant</h5>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="name"
                                       name="name">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="address"
                                       name="address">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="email"
                                       name="email">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="phone"
                                       name="phone">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="delivery price"
                                       name="deliveryPrice">
                            </div>
                        </div>
                    </div>


                    <h7>Please select the category</h7>
                    <div class="row add_bottom_15">
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control" name="restaurantCategoryId">
                                    <option th:each="category:${categories}" th:value="${category.id}"
                                            th:text="${category.name}"></option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="form-group text-center">
                        <input type="submit" class="btn_1" value="Update">
                    </div>

                    <!-- /.container-fluid-->
                </div>
                <!-- /.container-wrapper-->
            </div>
        </div>
    </form>
</div>
<th:block th:insert="fragments/fragmentUser::footer"></th:block>
<!-- Scroll to Top Button-->
<th:block th:insert="fragments/fragmentUser::scroll"></th:block>
<!-- Logout Modal-->
<th:block th:insert="fragments/fragmentUser::logoutModal"></th:block>

<th:block th:insert="fragments/fragmentUser::scripts"></th:block>

</body>
</html>




