
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Foogra - Discover & Book the best restaurants at the best price">
  <meta name="author" content="Ansonika">
  <title>Foogra - Discover & Book the best restaurants at the best price</title>

  <th:block th:insert="fragments/fragment::headerImport"></th:block>

  <!-- SPECIFIC CSS -->
  <link href="/css/blog.css" rel="stylesheet">

</head>

<body>

<th:block th:insert="fragments/fragment::header"></th:block>
<!-- /header -->

<main>
  <div class="page_header element_to_stick">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-7 col-md-7 d-none d-md-block">
          <div class="breadcrumbs blog">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Category</a></li>
              <li>Page active</li>
            </ul>
          </div>
        </div>
        <div class="col-xl-4 col-lg-5 col-md-5">
          <div class="search_bar_list">
            <input type="text" class="form-control" placeholder="Search in blog...">
            <input type="submit" value="Search">
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
  </div>
  <!-- /page_header -->

  <div class="container margin_30_40">
    <div class="row">
      <div class="col-lg-9">
        <div class="singlepost">
          <figure th:if="${event.pictures != null && !event.pictures.isEmpty()}">
            <img alt="" class="img-fluid" th:src="@{/events/getImages(fileName=${event.getPictures().get(0)})}">
          </figure>
          <h1 th:text="${event.name}"></h1>
          <div class="postmeta">
            <ul>
              <li><a href="#"><i th:text="${event.restaurantOverview.name}"></i></a></li>
              <li><i th:text="${#temporals.format(event.eventDateTime, 'dd-MM-yyyy HH:mm')}"></i></li>
              <li><a href="#"><i th:text="${event.price}"></i></a></li>
            </ul>
          </div>
          <!-- /post meta -->
          <div  class="post-content">
            <div class="dropcaps">
                <p th:text="${event.description}"></p>
            </div>
          </div>
          <!-- /post -->
        </div>
        <!-- /single-post -->

      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->

</main>
<!-- /main -->

<th:block th:insert="fragments/fragment::footer"></th:block>
<!--/footer-->

<div id="toTop"></div><!-- Back to top button -->

<div class="layer"></div><!-- Opacity Mask Menu Mobile -->

<!-- Sign In Modal -->
<th:block th:insert="fragments/fragment::signInModal"></th:block>
<!-- /Sign In Modal -->

<!-- COMMON SCRIPTS -->
<th:block th:insert="fragments/fragment::commonScripts"></th:block>

</body>
</html>