<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Foogra - Discover & Book the best restaurants at the best price">
    <meta name="author" content="Ansonika">
    <title>Foogra - Discover & Book the best restaurants at the best price</title>

    <th:block th:insert="fragments/fragment::headerImport"></th:block>
</head>

<body>

<th:block th:insert="fragments/fragment::header"></th:block>
<!-- /header -->

<main>
    <div class="hero_single version_2">
        <div class="opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9 col-lg-10 col-md-8">
                        <h1>Discover &amp; Book</h1>
                        <p>The best restaurants at the best price</p>
                        <!--                        <form method="post" action="grid-listing-filterscol.html">-->
                        <!--                            <div class="row g-0 custom-search-input">-->
                        <!--                                <div class="col-lg-4">-->
                        <!--                                    <div class="form-group">-->
                        <!--                                        <input class="form-control" type="text"-->
                        <!--                                               placeholder="What are you looking for...">-->
                        <!--                                        <i class="icon_search"></i>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                                <div class="col-lg-6">-->
                        <!--                                    <div class="form-group">-->
                        <!--                                        <input class="form-control no_border_r" type="text"-->
                        <!--                                               placeholder="Address, neighborhood...">-->
                        <!--                                        <i class="icon_pin_alt"></i>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                                <div class="col-lg-2">-->
                        <!--                                    <input type="submit" value="Search">-->
                        <!--                                </div>-->
                    </div>
                    <!-- /row -->
                    </form>
                </div>
            </div>
            <!-- /row -->
        </div>
    </div>
    </div>
    <!-- /hero_single -->

    <div class="bg_gray">
        <div class="container margin_60_40">
            <div class="main_title center">
                <span><em></em></span>
                <h2>Popular Categories</h2>
            </div>
            <!-- /main_title -->
            <div class="owl-carousel owl-theme categories_carousel">
                <div class="item">
                    <a href="#0">
                        <i class="icon-food_icon_pizza"></i>
                        <h3>Pizza - Italian</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="#0">
                        <i class="icon-food_icon_sushi"></i>
                        <h3>Japanese - Sushi</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="#0">
                        <i class="icon-food_icon_vegetarian"></i>
                        <h3>Vegetarian</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="#0">
                        <i class="icon-food_icon_chinese"></i>
                        <h3>Chinese</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="#0">
                        <i class="icon-food_icon_burrito"></i>
                        <h3>Mexican</h3>
                    </a>
                </div>
            </div>
            <!-- /carousel -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bg_gray -->

    <div class="banner lazy" data-bg="url(/img/banner_bg_desktop.jpg)">
        <div class="wrapper d-flex align-items-center opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.2)">
            <div>
                <small>foogra</small>
                <h3>More than 3000 Restaurants</h3>
                <p>Book a table easly at the best price</p>
                <a th:href="@{'/restaurants'}" class="btn_1">View All</a>
            </div>
        </div>
        <!-- /wrapper -->
    </div>
    <!-- /banner -->

    <div class="banner lazy" data-bg="url(/img/banner_bg_desktop.jpg)">
        <div class="wrapper d-flex align-items-center opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.2)">
            <div>
                <h3>Are you a Restaurant Owner?</h3>
                <p>Join Us to increase your online visibility. You'll have access to even more customers who are
                    looking to enjoy your tasty dishes at home.</p>
                <a href="/restaurants/add" class="btn_1">Read more</a>
            </div>
        </div>
        <!-- /wrapper -->
    </div>
    <!-- /container -->

</main>
<!-- /main -->

<th:block th:insert="fragments/fragment::footer"></th:block>
<!--/footer-->

<div id="toTop"></div><!-- Back to top button -->

<div class="layer"></div><!-- Opacity Mask Menu Mobile -->

<!-- Sign In Modal -->
<th:block th:insert="fragments/fragment::signInModal"></th:block>
<!-- /Sign In Modal -->

<!-- COMMON SCRIPTS -->
<th:block th:insert="fragments/fragment::commonScripts"></th:block>

<!-- COLOR SWITCHER  -->

<th:block th:insert="fragments/fragment::colorSwitcher"></th:block>
</body>
</html>