<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>FOOGRA - reserve</title>

    <th:block th:insert="fragments/fragmentUser::headerImport"></th:block>

</head>
<body class="fixed-nav sticky-footer" id="page-top">
<!-- Navigation-->
<th:block th:insert="fragments/fragmentUser::navigation"></th:block>
<!-- /Navigation-->
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Tables</li>
        </ol>
        <div class="box_general">
            <div class="header_box">
                <h2 class="d-inline-block">Bookings list</h2>
            </div>
            <div style="height: 300px; text-align: center" th:if="${reservations.content.isEmpty()}"><h6>You don't have
                any bookings yet</h6></div>
            <div class="list_general" th:if="${!reservations.content.isEmpty()}">
                <ul th:each="reserve:${reservations.content}">
                    <li>
                        <figure><img
                                th:if="${reserve.restaurantOverview.pictures != null && !reserve.restaurantOverview.pictures.isEmpty()}"
                                th:src="@{/restaurants/getImages(fileName=${reserve.restaurantOverview.pictures.get(0)})}">
                        </figure>
                        <h4 th:text="${reserve.restaurantOverview.name}"></h4>
                        <strong th:if="${reserve.status=='PENDING'}"><i class="pending">Pending</i></strong>
                        <strong th:if="${reserve.status=='APPROVED'}"><i class="approved">Approved</i></strong>
                        <strong th:if="${reserve.status=='CANCELLED'}"><i class="cancel">Cancelled</i></strong>

                        <ul class="booking_list">
                            <li><strong>Booking date</strong><strong th:text="${reserve.reservedDate}"></strong></li>
                            <li><strong>Booking time</strong><strong th:text="${reserve.reservedTime}"></strong></li>
                            <li><strong>Booking details</strong><strong
                                    th:text="${reserve.peopleCount}+''+' people '"></strong></li>
                            <li><strong>Client</strong>
                                <strong th:text="${reserve.userOverview.firstName}+' '+${reserve.userOverview.lastName}"></strong>
                            </li>
                            <li><strong>Phone number</strong><strong th:text="${reserve.phoneNumber}"></strong></li>
                        </ul>
                        <small th:text="${#temporals.format(reserve.reservedAt, 'dd-MM-yyyy HH:mm')}"></small>
                        <ul class="buttons">
                            <li th:if="${currentUser.role.name == 'MANAGER'}"><a
                                    th:href="@{'/reservations/edit/'+ ${reserve.id}}" class="btn_1 gray approved">
                                <i class="fa fa-fw fa-pencil"></i> Edit</a>
                            </li>
                            <li th:if="${currentUser.role.name == 'MANAGER'}"><a
                                    th:href="@{'/reservations/delete/'+ ${reserve.id}}" class="btn_1 gray delete">
                                <i class="fa fa-fw fa-times-circle-o"></i> Cancel</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <table>
                <tr th:if="${reservations.totalPages > 0}">
                    <th class="pagination"
                        th:each="pageNumber : ${pageNumbers}">
                        <a th:href="@{/reservations(size=${reservations.size}, page=${pageNumber})}"
                           th:text="${pageNumber}"
                           th:class="${pageNumber==reservations.number + 1} ? active"></a>
                    </th>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- /box_general-->
<!-- /.container-wrapper-->
<th:block th:insert="fragments/fragmentUser::footer"></th:block>
<!-- Scroll to Top Button-->
<th:block th:insert="fragments/fragmentUser::scroll"></th:block>
<!-- Logout Modal-->
<th:block th:insert="fragments/fragmentUser::logoutModal"></th:block>

<th:block th:insert="fragments/fragmentUser::scripts"></th:block>

</body>
</html>
