<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Foogra - Discover & Book the best restaurants at the best price">
    <meta name="author" content="Ansonika">
    <title>Foogra - Restaurant</title>

    <th:block th:insert="fragments/fragment::headerImport"></th:block>
    <!-- SPECIFIC CSS -->
    <link href="/css/detail-page.css" rel="stylesheet">
</head>

<body>
<th:block th:insert="fragments/fragment::header"></th:block>
<!-- /header -->

<main>
    <div class="container margin_detail">
        <div class="row">
            <div class="col-lg-8">
                <div class="detail_page_head clearfix">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li>Page active</li>
                        </ul>
                    </div>
                    <div class="title">
                        <h1 th:text="${restaurant.name}"></h1>
                        <span th:text="${restaurant.restaurantCategoryOverview.name}"></span>
                    </div>
                </div>
                <!-- /detail_page_head -->
                <div class="owl-carousel owl-theme carousel_1 magnific-gallery" th:if="${restaurant.pictures != null && !restaurant.pictures.isEmpty()}"
                     th:each="picture:${restaurant.pictures}">
                    <div class="item">
                        <a title="Photo title" data-effect="mfp-zoom-in"><img
                                th:src="@{/restaurants/getImages(fileName=${picture})}" alt=""></a>
                    </div>
                </div>
                <!-- /carousel -->
                <div class="tabs_detail">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a id="tab-A" href="#pane-A" class="nav-link active" data-bs-toggle="tab" role="tab">INFORMATION</a>
                        </li>
                        <li class="nav-item">
                            <a id="tab-B" href="#pane-B" class="nav-link " data-bs-toggle="tab" role="tab">EVENTS</a>
                        </li>
                    </ul>

                    <div class="tab-content" role="tablist" >
                        <div id="pane-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">
                            <div id="collapse-A" class="collapse show" role="tabpanel" aria-labelledby="heading-A">
                                <div class="card-body info_content">
                                    <h2>Menu</h2>
                                    <div th:each="category:${categories}">
                                        <h3 th:text="${category.name}"></h3>
                                        <div th:each="product:${products}">
                                            <div th:if="${category.id==product.productCategoryOverview.id}">
                                                <div class="menu_item">
                                                    <em th:text="${product.price}+'֏'"></em>
                                                    <h4 th:text="${product.name}"></h4>
                                                    <p th:text="${product.description}"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                    <div class="other_info">
                                        <h2 th:text="${'How to get to '+ restaurant.name}"></h2>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h3>Address</h3>
                                                <p th:text="${restaurant.address}">27 Old Gloucester St, 4530<br><a href="https://www.google.com/maps/dir//Assistance+%E2%80%93+H%C3%B4pitaux+De+Paris,+3+Avenue+Victoria,+75004+Paris,+Francia/@48.8606548,2.3348734,14z/data=!4m15!1m6!3m5!1s0x47e66e1de36f4147:0xb6615b4092e0351f!2sAssistance+Publique+-+H%C3%B4pitaux+de+Paris+(AP-HP)+-+Si%C3%A8ge!8m2!3d48.8568376!4d2.3504305!4m7!1m0!1m5!1m1!1s0x47e67031f8c20147:0xa6a9af76b1e2d899!2m2!1d2.3504327!2d48.8568361" target="blank"><strong>Get directions</strong></a></p>
                                            </div>
                                            <div class="col-md-4">
                                                <h3>Contacts</h3>
                                                <p><strong>Email</strong><br th:text="${restaurant.email}"><p>
                                                <p><strong>Phone</strong><br th:text="${restaurant.phone}"></p>
                                            </div>
                                            <div class="col-md-4">
                                                <h3>Price</h3>
                                                <p><strong>Delivery price</strong><br th:text="${'$'+restaurant.deliveryPrice}"></p>
                                            </div>
                                        </div>
                                        <!-- /row -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /tab -->

                        <div id="pane-B" class="card tab-pane fade " role="tabpanel" aria-labelledby="tab-B">
                            <div id="collapse-B" class="collapse show" role="tabpanel" aria-labelledby="heading-B">
                                <div class="card-body reviews" th:each="event:${eventsByRestaurant}">
                                    <div id="reviews">
                                        <div class="review_card">
                                            <div class="row">
                                                <div class="col-md-3 user_info">
                                                    <figure><a th:href="'/events/'+${event.id}"><img
                                                            th:if="${event.pictures != null && !event.pictures.isEmpty()}"
                                                            th:src="@{/events/getImages(fileName=${event.getPictures().get(0)})}"
                                                            alt="" src=""></a></figure>
                                                    <div class="clearfix add_bottom_15">
                                                        <em th:text="${#temporals.format(event.eventDateTime, 'dd-MM-yyyy HH:mm')}"></em>
                                                    </div>
                                                </div>
                                                <div class="col-md-8 review_content">
                                                    <h5 th:text="${event.name}"></h5>
                                                    <p th:text="${event.description}"></p>
                                                </div>
                                                <div class="col-md-1 user_info" th:text="${event.price}"></div>
                                            </div>
                                            <!-- /row -->
                                        </div>
                                        <!-- /review_card -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /tab-content -->
                </div>
                <!-- /tabs_detail -->
            </div>
            <!-- /col -->

            <div class="col-lg-4" id="sidebar_fixed">
                <div class="box_booking">
                    <div class="head">
                        <h3>Book your table</h3>
                        <div class="offer"></div>
                    </div>
                    <!-- /head -->
                    <div class="main">
                        <input type="text" id="datepicker_field">
                        <div id="DatePicker"></div>
                        <a th:href="@{'/restaurants/'+${restaurant.id}+'/reserve'}" class="btn_1 full-width mb_5">
                            Reserve Now</a>
                    </div>
                </div>

            </div>

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</main>
<!-- /main -->

<th:block th:insert="fragments/fragment::footer"></th:block>
<!--/footer-->

<div id="toTop"></div><!-- Back to top button -->

<div class="layer"></div><!-- Opacity Mask Menu Mobile -->

<!-- Sign In Modal -->
<th:block th:insert="fragments/fragment::signInModal"></th:block>
<!-- /Sign In Modal -->

<!-- COMMON SCRIPTS -->
<th:block th:insert="fragments/fragment::commonScripts"></th:block>

<!-- SPECIFIC SCRIPTS -->
<script src="/js/sticky_sidebar.min.js"></script>
<script src="/js/specific_detail.js"></script>
<script src="/js/datepicker.min.js"></script>
<script src="/js/datepicker_func_1.js"></script>


</body>
</html>