<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Foogra - Discover & Book the best restaurants at the best price">
    <meta name="author" content="Ansonika">
    <title>Foogra - Discover & Book the best restaurants at the best price</title>

    <!-- Favicons-->
    <th:block th:insert="fragments/fragment::headerImport"></th:block>

    <!-- SPECIFIC CSS -->
    <link href="/css/detail-page.css" rel="stylesheet">
</head>

<body>
<th:block th:insert="fragments/fragment::header"></th:block>

<main>

    <div class="container margin_detail">
        <div class="row">
            <div class="col-lg-8">
                <div class="detail_page_head clearfix">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a th:href="@{'/restaurants/' + ${restaurant.id}}">Category</a></li>
                            <li>Page active</li>
                        </ul>
                    </div>
                    <div class="title">
                        <h1>Pizzeria da Alfredo</h1>
                        Old Gloucester St 27, 4530 London - <a href="https://www.google.com/maps/dir//Assistance+%E2%80%93+H%C3%B4pitaux+De+Paris,+3+Avenue+Victoria,+75004+Paris,+Francia/@48.8606548,2.3348734,14z/data=!4m15!1m6!3m5!1s0x47e66e1de36f4147:0xb6615b4092e0351f!2sAssistance+Publique+-+H%C3%B4pitaux+de+Paris+(AP-HP)+-+Si%C3%A8ge!8m2!3d48.8568376!4d2.3504305!4m7!1m0!1m5!1m1!1s0x47e67031f8c20147:0xa6a9af76b1e2d899!2m2!1d2.3504327!2d48.8568361" target="blank">Get directions</a>
                        <ul class="tags">
                            <li><a href="#0">Pizza</a></li>
                            <li><a href="#0">Italian Food</a></li>
                            <li><a href="#0">Best Price</a></li>
                        </ul>
                    </div>
                    <div class="rating">
                        <div class="score"><span>Superb<em>350 Reviews</em></span><strong>8.9</strong></div>
                    </div>
                </div>
                <!-- /detail_page_head -->

                <div class="owl-carousel owl-theme carousel_1 magnific-gallery">
                    <div class="item">
                        <a href="/img/detail_1.jpg" title="Photo title" data-effect="mfp-zoom-in"><img src="/img/detail_1.jpg" data-src="/img/detail_1.jpg" alt="" class="owl-lazy"></a>
                    </div>
                    <div class="item">
                        <a href="/img/detail_2.jpg" title="Photo title" data-effect="mfp-zoom-in"><img src="/img/lazy-placeholder-detail.png" data-src="/img/detail_2.jpg" class="owl-lazy" alt=""></a>
                    </div>
                    <div class="item">
                        <a href="/img/detail_3.jpg" title="Photo title" data-effect="mfp-zoom-in"><img src="/img/lazy-placeholder-detail.png" data-src="/img/detail_3.jpg" class="owl-lazy" alt=""></a>
                    </div>
                </div>
                <!-- /carousel -->

                <div class="tabs_detail">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a id="tab-A" href="#pane-A" class="nav-link " data-bs-toggle="tab" role="tab">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a id="tab-B" href="#pane-B" class="nav-link active" data-bs-toggle="tab" role="tab">Events</a>
                        </li>
                    </ul>

                    <div class="tab-content" role="tablist">
                        <div id="pane-A" class="card tab-pane fade " role="tabpanel" aria-labelledby="tab-A">
                            <div id="collapse-A" class="collapse show" role="tabpanel" aria-labelledby="heading-A">
                                <div class="card-body info_content">
                                    <h2>Menu</h2>
                                    <div th:each="category:${categories}">
                                        <h3 th:text="${category.name}">Dessert</h3>
                                        <div th:each="product:${products}"
                                             th:if="${category.id==product.productCategoryOverview.id}">
                                            <div class="menu_item">
                                                <em th:text="${product.price}+'€'"></em>
                                                <h4 th:text="${product.name}"></h4>
                                                <p th:text="${product.description}"></p>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>


                                    <!-- /content_more -->
                                    <a href="#0" class="show_hide" data-content="toggle-text">Read More</a>

                                    <div class="add_bottom_45"></div>
                                    <h2>Pictures from our users</h2>
                                    <div class="pictures magnific-gallery clearfix">
                                        <figure><a href="/img/detail_gallery/detail_1.jpg" title="Photo title" data-effect="mfp-zoom-in"><img src="/img/thumb_detail_placeholder.jpg" data-src="/img/thumb_detail_1.jpg" class="lazy" alt=""></a></figure>
                                        <figure><a href="/img/detail_gallery/detail_2.jpg" title="Photo title" data-effect="mfp-zoom-in"><img src="/img/thumb_detail_placeholder.jpg" data-src="/img/thumb_detail_2.jpg" class="lazy" alt=""></a></figure>
                                        <figure><a href="/img/detail_gallery/detail_3.jpg" title="Photo title" data-effect="mfp-zoom-in"><img src="/img/thumb_detail_placeholder.jpg" data-src="/img/thumb_detail_3.jpg" class="lazy" alt=""></a></figure>
                                        <figure><a href="/img/detail_gallery/detail_4.jpg" title="Photo title" data-effect="mfp-zoom-in"><img src="/img/thumb_detail_placeholder.jpg" data-src="/img/thumb_detail_4.jpg" class="lazy" alt=""></a></figure>
                                        <figure><a href="/img/detail_gallery/detail_5.jpg" title="Photo title" data-effect="mfp-zoom-in"><span class="d-flex align-items-center justify-content-center">+10</span><img src="/img/thumb_detail_placeholder.jpg" data-src="img/thumb_detail_5.jpg" class="lazy" alt=""></a></figure>
                                    </div>
                                    <!-- /pictures -->

                                    <div class="special_offers add_bottom_45">
                                        <h2>Special Offers</h2>
                                        <div class="menu_item">
                                            <em>€10.90</em>
                                            <h4>Indio Fit</h4>
                                            <p>lechuga, tomate, espinacas, pollo asado, picatostes, queso proteínico y salsa césar 0%</p>
                                        </div>
                                        <div class="menu_item">
                                            <em>€15.90</em>
                                            <h4>Oriental</h4>
                                            <p>Cama de tabule con taquitos de pollo a la mostaza light</p>
                                        </div>
                                        <div class="menu_item">
                                            <em>€11.90</em>
                                            <h4>Vegan Burguer</h4>
                                            <p>Medio pollo asado acompañado de arroz o patatas al toque masala</p>
                                        </div>
                                        <div class="menu_item">
                                            <em>€10.90</em>
                                            <h4>Indio Fit</h4>
                                            <p>lechuga, tomate, espinacas, pollo asado, picatostes, queso proteínico y salsa césar 0%</p>
                                        </div>
                                    </div>
                                    <!-- /special_offers -->

                                    <div class="other_info">
                                        <h2>How to get to Pizzeria Alfredo</h2>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h3>Address</h3>
                                                <p>27 Old Gloucester St, 4530<br><a href="https://www.google.com/maps/dir//Assistance+%E2%80%93+H%C3%B4pitaux+De+Paris,+3+Avenue+Victoria,+75004+Paris,+Francia/@48.8606548,2.3348734,14z/data=!4m15!1m6!3m5!1s0x47e66e1de36f4147:0xb6615b4092e0351f!2sAssistance+Publique+-+H%C3%B4pitaux+de+Paris+(AP-HP)+-+Si%C3%A8ge!8m2!3d48.8568376!4d2.3504305!4m7!1m0!1m5!1m1!1s0x47e67031f8c20147:0xa6a9af76b1e2d899!2m2!1d2.3504327!2d48.8568361" target="blank"><strong>Get directions</strong></a></p>
                                                <strong>Follow Us</strong><br>
                                                <p class="follow_us_detail"><a href="#0"><i class="social_facebook_square"></i></a><a href="#0"><i class="social_instagram_square"></i></a><a href="#0"><i class="social_twitter_square"></i></a></p>
                                            </div>
                                            <div class="col-md-4">
                                                <h3>Opening Time</h3>
                                                <p><strong>Lunch</strong><br> Mon. to Sat. 11.00am - 3.00pm<p>
                                                <p><strong>Dinner</strong><br> Mon. to Sat. 6.00pm- 1.00am</p>
                                                <p><span class="loc_closed">Sunday Closed</span></p>
                                            </div>
                                            <div class="col-md-4">
                                                <h3>Services</h3>
                                                <p><strong>Credit Cards</strong><br> Mastercard, Visa, Amex</p>
                                                <p><strong>Other</strong><br> Wifi, Parking, Wheelchair Accessible</p>
                                            </div>
                                        </div>
                                        <!-- /row -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /tab -->

                        <div id="pane-B" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-B">

                            <div id="collapse-B" class="collapse show" role="tabpanel" aria-labelledby="heading-B">
                                <div class="card-body reviews" th:each="event:${eventsByRestaurant}">

                                    <div id="reviews">
                                        <div class="review_card">
                                            <div class="row">
                                                <div class="col-md-3 user_info">
                                                    <figure><a th:href="'/events/'+${event.id}"><img
                                                                                  th:if="${event.pictures != null && !event.pictures.isEmpty()}"
                                                                                  th:src="@{/events/getImages(fileName=${event.getPictures().get(0)})}"
                                                                                  alt="" src=""></a></figure>
                                                    <div class="clearfix add_bottom_15">
                                                        <em th:text="${event.eventDateTime}"></em>
                                                    </div>
                                                </div>
                                                <div class="col-md-8 review_content">
                                                    <h5 th:text="${event.name}"></h5>
                                                    <p th:text="${event.description}"></p>
                                                </div>
                                                <div class="col-md-1 user_info" th:text="${event.price}"></div>
                                            </div>
                                            <!-- /row -->
                                        </div>
                                        <!-- /review_card -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /tab-content -->
                </div>
                <!-- /tabs_detail -->
            </div>
            <!-- /col -->

            <div class="col-lg-4" id="sidebar_fixed">
                <div class="box_booking">
                    <div class="head">
                        <h3>Book your table</h3>
                        <div class="offer">Up to -40% off</div>
                    </div>
                    <!-- /head -->
                    <div class="main">
                        <input type="text" id="datepicker_field">
                        <div id="DatePicker"></div>
                        <div class="dropdown time">
                            <a href="#" data-bs-toggle="dropdown">Hour <span id="selected_time"></span></a>
                            <div class="dropdown-menu">
                                <div class="dropdown-menu-content">
                                    <h4>Lunch</h4>
                                    <div class="radio_select add_bottom_15">
                                        <ul>
                                            <li>
                                                <input type="radio" id="time_1" name="time" value="12.00am">
                                                <label for="time_1">12.00<em>-40%</em></label>
                                            </li>
                                            <li>
                                                <input type="radio" id="time_2" name="time" value="08.30pm">
                                                <label for="time_2">12.30<em>-40%</em></label>
                                            </li>
                                            <li>
                                                <input type="radio" id="time_3" name="time" value="09.00pm">
                                                <label for="time_3">1.00<em>-40%</em></label>
                                            </li>
                                            <li>
                                                <input type="radio" id="time_4" name="time" value="09.30pm">
                                                <label for="time_4">1.30<em>-40%</em></label>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /time_select -->
                                    <h4>Dinner</h4>
                                    <div class="radio_select">
                                        <ul>
                                            <li>
                                                <input type="radio" id="time_5" name="time" value="08.00pm">
                                                <label for="time_1">20.00<em>-40%</em></label>
                                            </li>
                                            <li>
                                                <input type="radio" id="time_6" name="time" value="08.30pm">
                                                <label for="time_2">20.30<em>-40%</em></label>
                                            </li>
                                            <li>
                                                <input type="radio" id="time_7" name="time" value="09.00pm">
                                                <label for="time_3">21.00<em>-40%</em></label>
                                            </li>
                                            <li>
                                                <input type="radio" id="time_8" name="time" value="09.30pm">
                                                <label for="time_4">21.30<em>-40%</em></label>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /time_select -->
                                </div>
                            </div>
                        </div>
                        <!-- /dropdown -->
                        <div class="dropdown people">
                            <a href="#" data-bs-toggle="dropdown">People <span id="selected_people"></span></a>
                            <div class="dropdown-menu">
                                <div class="dropdown-menu-content">
                                    <h4>How many people?</h4>
                                    <div class="radio_select">
                                        <ul>
                                            <li>
                                                <input type="radio" id="people_1" name="people" value="1">
                                                <label for="people_1">1<em>-40%</em></label>
                                            </li>
                                            <li>
                                                <input type="radio" id="people_2" name="people" value="2">
                                                <label for="people_2">2<em>-40%</em></label>
                                            </li>
                                            <li>
                                                <input type="radio" id="people_3" name="people" value="3">
                                                <label for="people_3">3<em>-40%</em></label>
                                            </li>
                                            <li>
                                                <input type="radio" id="people_4" name="people" value="4">
                                                <label for="people_4">4<em>-40%</em></label>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /people_select -->
                                </div>
                            </div>
                        </div>
                        <!-- /dropdown -->
                        <a href="booking.html" class="btn_1 full-width mb_5">Reserve Now</a>
                        <a href="wishlist.html" class="btn_1 full-width outline wishlist"><i class="icon_heart"></i> Add to wishlist</a>
                    </div>
                </div>
                <!-- /box_booking -->
                <ul class="share-buttons">
                    <li><a class="fb-share" href="#0"><i class="social_facebook"></i> Share</a></li>
                    <li><a class="twitter-share" href="#0"><i class="social_twitter"></i> Share</a></li>
                    <li><a class="gplus-share" href="#0"><i class="social_googleplus"></i> Share</a></li>
                </ul>
            </div>

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->

</main>
<!-- /main -->


<th:block th:insert="fragments/fragment::footer"></th:block>
<!--/footer-->

<div id="toTop"></div><!-- Back to top button -->

<div class="layer"></div><!-- Opacity Mask Menu Mobile -->

<!-- Sign In Modal -->
<th:block th:insert="fragments/fragment::signInModal"></th:block>
<!-- /Sign In Modal -->

<!-- COMMON SCRIPTS -->
<script src="/js/common_scripts.min.js"></script>
<script src="/js/common_func.js"></script>
<script src="/assets/validate.js"></script>

<!-- SPECIFIC SCRIPTS -->
<script src="/js/sticky_sidebar.min.js"></script>
<script src="/js/specific_detail.js"></script>
<script src="/js/datepicker.min.js"></script>
<script src="/js/datepicker_func_1.js"></script>

</body>
</html>